<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
    <h5 class="my-0 mr-md-auto font-weight-normal text-dark">Client-Manager Dashboard</h5>
    <nav class="my-2 my-md-0 mr-md-3"></nav>
    <a class="btn blueBackground text-white" (click)="goToRegister()">Registrarme como empresa</a>
</div>
<div class="container-fluid">
    <div class="row justify-content-center rowToCenter">
        <div class="col-12 col-sm-11 col-md-11 col-lg-5 col-xl-3">
            <img src="../../../../../assets/ilustrations/undraw_subscriptions_re_k7jj.svg" alt="Client-Manager" title="Client-Manager" class="ilustration-1">
            <h1 class="text-center text-dark m-0 p-0 mt-4">Client-Manager</h1>
            <p class="text-center lead text-dark m-0 p-0 mt-3">Plataforma para clientes</p>
            <button class="btn text-center text-white blueBackground homeButton mt-4" (click)="goToLogin()">Iniciar sesión como cliente</button>
        </div>
    </div> 
</div>